/* Your app custom styles here */
:root {
  --f7-block-title-white-space: auto;
}

.leaflet-control-container {
  display: none;
}

.grey-blur {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
